@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* Footer Base Styles */
.footer {
  background: $dark-green; /* Dark green */
  &__container {
    @include displayFlexColumn;
  }
  /* Footer Logo*/
  &__logoBox {
    @include displayFlexColumn;
    gap: 0;
  }

  &__logoTextBox {
    margin-left: 0.25rem;
  }

  /* Contact Item Styles*/
  &__contactBox {
    @include displayFlexColumn;
    gap: .5rem;
  }

  &__contactItem {
    @include displayFlexRow;
    gap: .25rem;
  }
  
  &__contactItem:nth-Child(2) {
    gap: .75rem;
  }

  /* Social Media Styles*/
  &__socialMediaBox {
    @include displayFlexRow;
    gap: 3rem;
  }

  &__socialMediaLink {
    box-shadow: $bs-btn;
    transition: all 0.3s;
  }

  &__socialMediaLink:hover {
    box-sizing: $bs-btnHover;
    transform: scale(1.1);
  }

  /* Copyright Styles */
  &__copyright {
    @include displayFlexRow;
    gap: .5rem;
  }
  #copyrightYear, &__copyrightBusName {
    margin-bottom: .5rem;
  }
  &__rightsReserved {
    display: block;
  }
  
  /* Developer Credit Styles */
  &__dev {
    @include displayFlexRow;
    gap: 0;
  }

  &__devLogo {
    display: block;
    width: 10rem;
    height: auto;
    transition: all 0.3s;
    margin-bottom: 0.45rem;
  }

  &__devLogo:hover {
    transform: scale(1.1);
  }
}






.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav-item {
  display: inline-block;
  margin: 0 10px;
}

.footer__nav-link {
  color: white;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-decoration: underline;
}


// /* Desktop View */
// @media (min-width: 768px) {
//   .footer__container {
//     flex-direction: row;
//     justify-content: space-between;
//     text-align: left;
//     max-width: 1200px;
//     margin: auto;
//   }

//   .footer__nav {
//     flex: 1;
//   }

//   .footer__contact,
//   .footer__social,
//   .footer__developer {
//     flex: 1;
//   }
// }
