@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* Hero Section */
.hero {
  @include displayFlexColumn;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  @include respond(tab-port) {
    padding-top: 3rem;
  }
  @include respond(tab-land) {
    padding-top: 5rem;
  }

  /* Overlay for better text readability */
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.45); /* Dark overlay */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  /* Hero Content */
  &__content {
    @include displayFlexColumn;
    background-color: rgba(azure, .35);
    border-radius: $br-m;
    box-shadow: $bs-dark;
    width: min(85%, 65rem);
    padding: 2rem;
    position: relative;
    z-index: 2;
  }

  &__logoTextBox {
    @include displayFlexColumn;
    gap: .25rem;
  }

  &__intro {
    width: min(75%, 60rem);
    margin-top: 1rem;
  }  
}
