@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  &--hero {
    display: inline-block;
    background-color: $primary-green;
    border-radius: $br-m;
    box-shadow: $bs-btn;
    margin-top: 1rem;
    padding: .5em 2em;
    transition: all 0.3s;
  }

  &--hero:hover {
    background-color: $bright-orange;
  }
}
