@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
// Headings
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-bold-700 {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

// Body text
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

// Btns and other UI elements
// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-bold-700 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nav {
  &__link {
    color: $light-cream;
    font-family: "Nunito", serif;
    font-size: clamp(1.6rem, 5.5vw, 1.8rem);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    @include respond(tab-land) {
      color: $dark-green;
    }
  }
}

.logoText {
  line-height: 1.1;
  &--heading {
    color: $accent-orange;
    font-family: "Quicksand", serif;
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
  }
  &--headingGreen {
    color: $primary-green;
  }
  &--slogan {
    color: rgba($dark-green, 0.65);
    font-family: "Merriweather", serif;
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
  }
}
