@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
// Headings
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-bold-700 {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

// Body text
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

// Btns and other UI elements
// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-bold-700 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.headingH2, .headingH3 {
  color: $white;
  font-family: "Quicksand", serif;
  font-size: clamp(2.6rem, 6.5vw, 2.8rem);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px rgba($dark-green, 1);
  text-transform: uppercase;
}

.headingH2TagLine, .headingH3TagLine {
  color: rgba($white, 0.95);
  font-family: "Merriweather", serif;
  font-size: clamp(1.2rem, 4.5vw, 1.4rem);
  font-weight: 700;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba($dark-green, 1);
  text-transform: capitalize;
}

.headingH3 {
  color: rgba($white, 0.85);
  font-size: clamp(1.8rem, 6vw, 2rem);
}

.nav {
  &__link {
    color: $light-cream;
    font-family: "Nunito", serif;
    font-size: clamp(1.6rem, 5.5vw, 1.8rem);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    @include respond(tab-land) {
      color: $dark-green;
    }
  }
}

.btn {
  color: $white;
  font: "Nunito", serif;
  font-size: clamp(1.6rem, 6vw, 1.8rem);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba($dark-green, 1);
}

.logoText {
  line-height: 1.1;
  &--heading {
    color: $accent-orange;
    font-family: "Quicksand", serif;
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
  }
  &--headingHero {
    font-size: clamp(2.8rem, 5vw, 3rem);
    text-align: center;
    text-shadow: 2px 2px 1px rgba($dark-green, 1);
  }
  &--headingGreen {
    color: $primary-green;
  }
  &--headingGreenHero {
    color: $primary-green;
    font-size: clamp(3.2rem, 5vw, 3.4rem);
  }
  &--slogan {
    color: rgba($dark-green, 0.65);
    font-family: "Merriweather", serif;
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
  }
  &--sloganHero {
    color: rgba($white, 0.85);
    font-size: clamp(2rem, 4vw, 2.2rem);
    text-align: center;
    text-shadow: 1px 1px 1px rgba($dark-green, 1);
  }
  &--sloganFooter {
    color: rgba($white, 0.85);
  }
}

.hero {
  &__intro {
    color: rgba($white, 0.85);
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    text-align: center;
    text-shadow: 1px 1px 1px rgba($dark-green, 1);
  }
}

.contact, .testimonial {
  &__paragraph {
    color: $dark-green;
    font-family: "Merriweather", serif;
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-weight: 400;
    font-style: normal;
    text-align: left;
  }
  &__paragraph--contact {
    color: $white;
    text-shadow: 1px 1px 2px rgba($dark-green, 1);
  }
  &__customer {
    font-weight: 700;
  }
}

.footer {
  color: rgba($white, 0.75);
  &__navLink {
    font-size: clamp(1.6rem, 5.5vw, 1.8rem);
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba($dark-green, 1);
  }
  &__copyrightBox {
    line-height: 1;
  }
  &__copyrightBusName {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  &__copyrightBusName--green {
    color: $primary-green;
  }
  &__copyrightBusName--orange {
    color: $accent-orange;
  }
  &__rightsReserved {
    font-size: clamp(1.2rem, 4vw, 1.4rem);
  }
  &__devIntro {
    font-size: clamp(1.2rem, 4vw, 1.4rem);
  }
}
